node_modules
dist
.github

.firebase
.firebaserc
firebase.json

doc
functions/firebase-debug.log
functions/firestore-debug.log
functions/ui-debug.log

env.*
firestore.*
hosting.*
storage.*
firebase-debug.log